.books{
	min-height: 65vh;
	max-width: 1117px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;  
	.book{
		max-width: 279px; 
		display: flex;
		flex: 1 1 279px;
		img{
			width: 140px;
			height: 184px;  
		}
		h2{
			font: 400 16px 'Open Sans Condensed', sans-serif;
			line-height: 18px;
    		color: #efa121;
    		//отображать слово которое не влезает, обрывая его точками
    		white-space: nowrap;
    		overflow: hidden;
    		text-overflow: ellipsis;
		}
		h3{
			
		}
		.level{
			
		}
		.description{
			height: 70px; 
		}
	}
}