@import 'variables.scss';

.books{
	min-height: 65vh;
	max-width: 1200px;
	padding: 0px 5px; 
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around; 
	font-family: 'Open Sans Condensed', sans-serif;
	.book{
		margin: 20px;
		margin-left: 0px; 
		flex: 1 1 279px; 
		display: flex;
		flex-flow: row;
		overflow: hidden;
		a{
			flex: 1 1 140px;
		}
		img{
			border: 3px solid $img-border-color;
			width: 140px;
			height: 184px;  
		}
		.info{
			flex: 1 1 auto;
			padding: 0px 10px;
			display: flex;
			flex-flow: column wrap;
			white-space: nowrap;
    		// overflow: hidden;
    		text-overflow: ellipsis; 
		}
		h2{
			flex: 1 1 20px;
			font-size: $font-size;
			font-weight: 600;
			text-transform: uppercase;
			line-height: 18px;
    		color: $h2-color;  
    		white-space: pre-wrap;  		
		}
		h3{
			flex: 1 1 20px;
			font-size: $font-size - 2; 
			a{
				color: $author-color;
			}
		}
		.level{
			flex: 1 1 15px;	
			font-size: $font-size - 2;  
			color: $level-color;
		}
		.description{
			flex: 5 1 70px;
			font-size: $font-size - 1;
			line-height: 20px; 
			padding-bottom: 10px;
			overflow: hidden;
			margin-top: 15px; 
			color: $description-color;
			height: 70px; 
			white-space: pre-wrap;
		}
	}
}