@import 'variables.scss';


footer{
	font-family: $open-sans;
	text-align: center;
	font-size: $font-size-footer; 
	hr{
		width: 75%; 
		border-top: 1px solid $hr-color;
    	border-bottom: none;
	}
	img{
		width: 150px;
		height: 29px;  
	}
	p{
		color: $footer-text;
		line-height: $font-size-footer + 3; 
	}
	a{
		text-decoration: none;
		color: $link;
		line-height: $font-size-footer + 28; 
	}
}