@import 'variables.scss';

.searchSection{
	font-family: $main-font;
	font-size: 13px; 
	max-width: 1117px;
	margin: 0 auto;  
	padding: 20px;
	padding-top: 150px; 
	background: $background;
		@media screen and (max-width: 700px){
			// убираем отступ так как header уже не fixed.
			padding-top: 20px; 
		}  
	.pythonBooks{
		color: white;
		.seeAlso{
			float: left;
		}
		img{
			width: 100px;
			height: 16px;  
		}
	}
	.search{
		display: flex;
		margin-top: 15px;
		// я попробовал заюзать &, но у меня не вышло) 
		input{
			border: 0;
			padding: 9px;
		}
		input[type="text"]{  
			color: $theme;
			flex: 6 1 auto; 
			background: $search-bg;
		}
		input[type="button"]{
			cursor: pointer;
			flex: 1 1 auto;
			background: $theme;
		}
		input:focus{ 
			outline: none; 
		}
		input::placeholder{ 
			font-weight: 600;
			color: $theme;
			text-indent: 5px;
			transition: text-indent 500ms cubic-bezier(.87,-.41,.19,1.441);
		}
		input:focus::placeholder{
			text-indent: -300px;
		}
	}
	.filter{
		color: white;
		margin-top: 20px; 
		span{
			cursor: pointer;
			margin-left: 10px;
			color: $theme; 
		}
		span:hover{
			text-decoration: underline; 
		}
	}
}
