// header
$header: #EEDB59;
$shadow: 1px 0 1px rgba(255, 255, 255, 0.6);
$twitter-bg: #1B95E0;
$twitterAndQuestion: white;
$header-mid: #2f2e2d;

$font-size: 13px;
$font-header: 'Helvetica Neue',Arial,sans-serif;

// books
$description-color: white; 
$h2-color: #efa121;
$img-border-color: white;
$author-color: #cfb798;
$level-color: white;

$font-size: 14px;

// footer
$hr-color: rgba(240, 240, 240, 0.4);
$footer-text: white; 
$link: #0088cc;

$font-size-footer: 10px;
$open-sans: 'Open Sans', sans-serif;

// global
$background: #323330;

// search
$search-bg: #252624;
$theme: #EEDB59;

$main-font: 'Helvetica Neue',Arial,sans-serif;